
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="lista__azul__cabecalho">

    <div class="hairdule">
      <span class="palavra__hairdule">Hairdule</span>
      </div>
   </section>

  <p class="mensagem">{{ mensagem }}</p>

  <section class="botoes__ok">
    <div class="botao__mensagem__ok">
      <button class="botao__ok__mensagem" (click)="voltarParaTelaLogin()" mat-fab extended>
        Ok
      </button>
    </div>
  </section>

</body>
</html>

