
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="lista_azul_cabecalho">
    <div class="hairdule-boasvindas">
       <span class="hairdule">Hairdule</span>
       <span class="boas-vindas">Boas-Vindas</span>
     </div>
   </section>


   <mat-card class="Login">
    <mat-card-content class="Login__Card">
      <span class="Login__Senha__Icon">
        <input type="text" class="Login__Usuario" placeholder="E-mail">
      </span>
      <hr size="1" width="100%" align="center" noshade>
      <span class="Login__Senha__Icon">
        <input type="password" class="Login__Senha" placeholder="Senha">
    </span>
    </mat-card-content>
  </mat-card>

  <section class="Botoes">
    <div class="Botao__Cadastre-se__Entrar">
      <button class="Botao__Cadastre-se" mat-fab extended>
        Cadastre-se
      </button>
      <button class="Botao__Entrar" mat-fab extended>
        Entrar
      </button>
    </div>

    <div class="Botao__Recuperar__Senha">
      <a class="Recuperar__Senha" href="about.html">Recuperar Senha</a>
    </div>

  </section>
</body>
</html>
