<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="lista__azul__cabecalho">
    <div class="hairdule__recuperarSenha">
       <span class="recuperar__senha">Recuperar Senha</span>
       <span class="mensagem__recuperaSenha">Por favor informe o e-mail cadastrado</span>
     </div>
   </section>

   <span class="recuperaSenha__campos">
    <span class="recuperaSenha__card">
      <span class="formatacao__campos__recuperaSenha">
        <input type="text" class="campo__email__recuperarSenha" placeholder="E-mail">
      </span>
    </span>
  </span>

  <section class="botoes__recuperarSenha">
    <div class="botao__recuperar__cancelar__recuperarSenha">
      <button class="botao__cancelar" routerLink="" mat-fab extended>
        Cancelar
      </button>
      <button class="botao__recuperar"  mat-fab extended>
        Recuperar
      </button>
    </div>
  </section>

</body>
</html>
