<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="lista__azul__cabecalho">
    <div class="hairdule__cadastroEmpresaCnpj">
       <span class="texto__CriarConta__cadastroEmpresaCnpj">Criar Conta</span>
       <span class="texto__Vamosla__cadastroEmpresaCnpj">Vamos começar!</span>
     </div>
   </section>

  <form [formGroup]="empresaForm">
    <span class="card__cadastroEmpresaCnpj">
      <label class="label__email__cadastroEmpresaCnpj">Qual é seu E-mail ?</label>
      <span class="formatacao__campos__cadastroEmpresaCnpj">
        <input type="text" class="campo__email__cadastroEmpresaCnpj" (focus)="limparMensagemEmail()" (blur)="verificarUsuarioValido()" #inputElement (input)="onCaractereInformado(inputElement.value)" formControlName="email_cadastro_empresa">
      </span>
      <p [class.mensagem__campos__invalidos]="true" [class.mensagem-piscante]="exibirMensagemPiscante">{{ mensagemEmail }}</p>
      <label class="label__senha__cadastroEmpresaCnpj">Qual sua senha ?</label>
      <span class="formatacao__campos__cadastroEmpresaCnpj">
        <input type="{{ mostrarSenha ? 'text' : 'password' }}" class="campo__senha__cadastroEmpresaCnpj"  (blur)="verificarSenhasIguais()" formControlName="senha_cadastro_empresa">
        <button class="botao__mostrar__senha" (click)="toggleMostrarSenha()">
          <i class="fas {{ mostrarSenha ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </button>
      </span>
      <label class="label__confirmar__senha__cadastroEmpresaCnpj">Confirme sua senha</label>
      <span class="formatacao__campos__cadastroEmpresaCnpj">
        <input type="{{ mostrarConfirmacaoSenha ? 'text' : 'password' }}" class="campo__confirmar__senha__cadastroEmpresaCnpj" (focus)="limparMensagemSenha()"  (blur)="verificarSenhasIguaisConfirmar()" #inputElement (input)="onCaractereInformadoSenha(inputElement.value)" formControlName="confirmacao_senha_cadastro_empresa">
        <button class="botao__mostrar__confirmacao__senha" (click)="toggleMostrarConfirmacaoSenha()">
          <i class="fas {{ mostrarConfirmacaoSenha ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </button>
      </span>
      <p [class.mensagem__campos__invalidos]="true" [class.mensagem-piscante]="exibirMensagemPiscante">{{ mensagemSenha }}</p>
    </span>
  </form>
  <p [class.mensagem__campos__invalidos]="true" [class.mensagem-piscante]="exibirMensagemPiscante">{{ mensagemGeral }}</p>

  <section class="botoes__cadastroEmpresaCnpj">
    <div class="botao__avancar__cancelar__cadastroEmpresaCnpj">
      <button class="botao__cancelar" (click)="ValidarCancelar()" mat-fab extended>
        Cancelar
      </button>
      <button class="botao__avancar"  mat-fab extended (click)="ValidarCampoObrigatorio()" [disabled]="botaoDesabilitado ||empresaForm.invalid">
        Avançar
      </button>
    </div>
  </section>

</body>
</html>


