<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="lista__azul__cabecalho">
    <div class="hairdule__cadastroEmpresaEndereco">
       <span class="texto__CriarConta__cadastroEmpresaEndereco">Criar Conta</span>
       <span class="texto__Vamosla__cadastroEmpresaEndereco">Estamos na ultima etapa !</span>
     </div>
   </section>

  <form [formGroup]="empresaForm">
    <span class="card__cadastroEmpresaEndereco">
      <label class="label__cep__cadastroEmpresaEndereco">Qual é CEP do estabelecimento?</label>
      <span class="formatacao__campos__cadastroEmpresaEndereco">
        <input type="text" class="campo__cep__cadastroEmpresaEndereco" mask="00000-000" (blur)="buscarEndereco()" formControlName="cep_cadastro_empresa">
      </span>
      <label class="label__rua__cadastroEmpresaEndereco">Qual a rua do estabelecimento?</label>
      <span class="formatacao__campos__cadastroEmpresaEndereco">
        <input type="text" class="campo__rua__cadastroEmpresaEndereco" formControlName="rua_cadastro_empresa">
      </span>
      <label class="label__bairro__cadastroEmpresaEndereco">Qual é bairro do estabelecimento?</label>
      <span class="formatacao__campos__cadastroEmpresaEndereco">
        <input type="text" class="campo__bairro__cadastroEmpresaEndereco" formControlName="bairro_cadastro_empresa">
      </span>
      <label class="label__estado__cadastroEmpresaEndereco">Qual é estado do estabelecimento?</label>
      <span class="formatacao__campos__cadastroEmpresaEndereco">
        <input type="text" class="campo__estado__cadastroEmpresaEndereco" formControlName="estado_cadastro_empresa">
      </span>
      <label class="label__numero__cadastroEmpresaEndereco">Qual é numero do estabelecimento?</label>
      <span class="formatacao__campos__cadastroEmpresaEndereco">
        <input type="number" class="campo__numero__cadastroEmpresaEndereco" formControlName="numero_endereco_cadastro_empresa">
      </span>
    </span>
  </form>

  <p class="mensagem__campos__invalidos">{{ mensagem }}</p>

  <section class="botoes__cadastroEmpresaEndereco">
    <div class="botao__avancar__voltar__cadastroEmpresaEndereco">
      <button class="botao__voltar" mat-fab extended (click)="VoltarTelaAnterior()">
        Voltar
      </button>
      <button class="botao__avancar"  mat-fab extended (click)="enviarCamposCadastroEmpresa()" >
        Finalizar
      </button>
    </div>
  </section>
</body>
</html>



