@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
  background-color: var(--cor-fundo-pagina);
}

.lista__azul__cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  height: 100px;
  width: 100%;
  background-color: (--cor-azul-hairdule);
  color: var(--cor-letras-preto);
}

.hairdule__cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.Cadastro{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 22px;

}
 .preencher__dados__cadastroEmpresa{
  font-size: 1.25rem;
  margin-top: 30px;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
 }

 .cadastroEmpresa__campos{
  background-color: var(--cor-branco-cards);
  margin-top: 10px;
}

.cadastroEmpresa__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-branco-cards);
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

.formatacao__campos__cadastroEmpresa{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 3px;
}

hr.linha__divisoria__cadastroEmpresa{
  width: 95%;
  background-color: var(-cor-cinza-letras);
}

.cnpj__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nome__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.telefone__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rua__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bairro__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.estado__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.numero__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.email__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.senha__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirmacao__senha__cadastroEmpresa{
  color: var(-cor-cinza-letras);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botoes__cadastroEmpresa{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.botao__cadastrar__cancelar__cadastroEmpresa{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botao__cancelar__cadastroEmpresa{
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  background-color: var(--cor-azulclaro-botao);
  color: var(--cor-letras-preto);
  width: 170px;
}

.botao__cadastrar__cadastroEmpresa{
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  background-color: var(--cor-azulclaro-botao);
  color: var(--cor-letras-preto);
  width: 170px;
}
