<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="lista_azul_cabecalho">
    <div class="hairdule-cadastro">
       <span class="Cadastro">Hairdule</span>
       <span class="Preencher__Dados">Por favor, preencha os seus dados</span>
     </div>
   </section>

   <span class="Dados__Cadastro">
    <span class="Dados__Cadastro__Card">
      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="CNPJ__Empresa" placeholder="CNPJ">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Nome__Empresa" placeholder="Nome Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Telefone__Empresa" placeholder="Telefone Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Rua__Empresa" placeholder="Rua Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Bairro__Empresa" placeholder="Bairro Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Estado__Empresa" placeholder="Estado Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Numero__Empresa" placeholder="Numero Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="text" class="Email__Empresa" placeholder="E-mail Empresa">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="password" class="Senha__Empresa" placeholder="Senha">
      </span>
      <hr class="Linha__Divisoria" size="1" align="center">

      <span class="Formatacao__Campos__Cadastro">
        <input type="password" class="Confirmacao__Senha__Empresa" placeholder="Confirme a senha">
      </span>
    </span>
  </span>

  <section class="Botoes">
    <div class="Botao__Cadastrar__Cancelar">
      <button class="Botao__Cancelar" routerLink="" mat-fab extended>
        Cancelar
      </button>
      <button class="Botao__Cadastrar"  mat-fab extended>
        Cadastrar
      </button>
    </div>
    </section>

</body>
</html>
