<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="lista__azul__cabecalho">
    <div class="hairdule__cadastro">
       <span class="Cadastro">Cadastro</span>
       <span class="preencher__dados__cadastroEmpresa">Por favor, preencha os seus dados</span>
     </div>
   </section>

   <span class="cadastroEmpresa__campos">
    <span class="cadastroEmpresa__card">
      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="cnpj__cadastroEmpresa" placeholder="CNPJ">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="nome__cadastroEmpresa" placeholder="Nome Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="telefone__cadastroEmpresa" placeholder="Telefone Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="rua__cadastroEmpresa" placeholder="Rua Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="bairro__cadastroEmpresa" placeholder="Bairro Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="estado__cadastroEmpresa" placeholder="Estado Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="numero__cadastroEmpresa" placeholder="Numero Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="text" class="email__cadastroEmpresa" placeholder="E-mail Empresa">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="password" class="senha__cadastroEmpresa" placeholder="Senha">
      </span>
      <hr class="linha__divisoria__cadastroEmpresa" size="1" align="center">

      <span class="formatacao__campos__cadastroEmpresa">
        <input type="password" class="confirmacao__senha__cadastroEmpresa" placeholder="Confirme a senha">
      </span>
    </span>
  </span>

  <section class="botoes__cadastroEmpresa">
    <div class="botao__cadastrar__cancelar__cadastroEmpresa">
      <button class="botao__cancelar__cadastroEmpresa" routerLink="" mat-fab extended>
        Cancelar
      </button>
      <button class="botao__cadastrar__cadastroEmpresa"  mat-fab extended>
        Cadastrar
      </button>
    </div>
    </section>

</body>
</html>
