:root{
  --cor-azul-hairdule:#22D4FD;
  --cor-letras-preto:#020202;
}

.lista_azul_cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    height: 145px;
    width: 100%;
    background-color: #22D4FD;
    color: #020202;
}

.hairdule-boasvindas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

}
 .boas-vindas{
  font-size: 1.25rem;
  margin-top: 30px;
 }
