body{
  background-color: var(--cor-fundo-pagina);
}

.lista__azul__cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  height: 100px;
  width: 100%;
  background-color: var(--cor-azul-hairdule);
  color: var(--cor-letras-preto);
}

.hairdule__cadastroEmpresaEndereco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.texto__CriarConta__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 22px;
}

.texto__Vamosla__cadastroEmpresaEndereco{
  font-size: 1.25rem;
  margin-top: 30px;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.card__cadastroEmpresaEndereco{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

.label__cep__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-cinza-letras);
  width: 100%;
}

.formatacao__campos__cadastroEmpresaEndereco{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--cor-branco-cards);
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.campo__cep__cadastroEmpresaEndereco{
  color: var(--cor-letras-preto);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label__rua__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-cinza-letras);
  width: 100%;
}

.campo__rua__cadastroEmpresaEndereco{
  color: var(--cor-letras-preto);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label__bairro__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-cinza-letras);
  width: 100%;
}

.campo__bairro__cadastroEmpresaEndereco{
  color: var(--cor-letras-preto);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label__estado__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-cinza-letras);
  width: 100%;
}

.campo__estado__cadastroEmpresaEndereco{
  color: var(--cor-letras-preto);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label__numero__cadastroEmpresaEndereco{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-cinza-letras);
  width: 100%;
}

.campo__numero__cadastroEmpresaEndereco{
  color: var(--cor-letras-preto);
  font-family: var(--fonte-principal);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  border: 0;
  width: 99%;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botoes__cadastroEmpresaEndereco{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.botao__avancar__voltar__cadastroEmpresaEndereco{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botao__voltar{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  background-color: var(--cor-azulclaro-botao);
  color: var(--cor-letras-preto);
  width: 170px;
}

.botao__avancar{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  background-color: var(--cor-azulclaro-botao);
  color: var(--cor-letras-preto);
  width: 170px;
}

